rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /stats/{document} {
      allow read, update: if request.time < timestamp.date(2030, 4, 20);
    }

    match /comments/{document} {
      allow read: if true;
      allow create: if request.resource.data.name is string
                     && request.resource.data.message is string
                     && request.resource.data.name.size() <= 50
                     && request.resource.data.message.size() <= 500;
    }
  }
}
